/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */
#container {
	margin: 0 auto;
	width: 600px;
	background: #51473D;
}

#topbar {
	height: 260px;
	padding-top: 5px;
	text-align: right;
	color: #EAE7D2;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	font-style: italic;
	background-image: url("pics/coffey.jpg");
	background-repeat: no-repeat;
	background-position: 0px 22px;
}


#menu
{
	float: left;
	width: 100%;
}

#maincontent {
    background: #EAE7D2;
	clear: left;
	float: left;
	width: 60%;
	padding: 20px 0;
	margin: 0 0 0 30px;
	display: inline;
}

#subcontent {
    background: #EAE7D2;
	float: right;
	width: 30%;
	padding: 20px 0;
	margin: 0 20px 0 0;
	display: inline;
}

#bottomcontent {
    background: #EAE7D2;
	height: auto;
}