/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */
#container {
	margin: 0 auto;
	width: 600px;
	background: #51473D;
}

#topbar {
	height: 220px;
	padding-top: 5px;
	text-align: right;
	color: #EAE7D2;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	font-style: italic;
	background-image: url("pics/coffey.jpg");
	background-repeat: no-repeat;
	background-position: 0 22px;
}


#menu {
  background-color:#51473D;
  height:40px;
}

#menu a {
    display: none;
}
 
#menu ul {
  margin: 0;
  padding-top: 5px;
  list-style: none;
  padding-left: 10px;
}
 
#menu ul li {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    font-weight: lighter;
    text-transform: capitalize;
    display: block;
    position: relative;
    float: left;
 
}
 
#menu ul li a {
    display: block;
    text-decoration: none;
    background: #797066;
    color: #EAE7D2;  
    margin-left: 1px;
    height: 25px;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
    text-align:center;
    padding-top:10px;
}
 
#menu ul li a:hover { 
    background: #9C9084; 
}
#menu .active a {
    background: #EAE7D2;
    color: #797066;
}

#maincontent {
    background: #EAE7D2;
	clear: left;
	float: left;
	width: 55%;
	padding: 0 0;
	margin: 0 0 0 30px;
	display: inline;
	color: #797066;
}

#maincontent h1 {
    font-family: "Times New Roman", Times, serif;
    font-weight: normal;
}
#maincontent p {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    line-height: 22px;
}
#maincontent img[alt] {
    float: left;
    border: solid 3px #EAE7D2;
}


#subcontent {
    background: #EAE7D2;
	float: right;
	width: 35%;
	padding: 20px 0;
	margin: 0 20px 0 0;
	display: inline;
}

#bottomcontent {
    background: #EAE7D2;
	height: auto;
}